In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
signals_typed = pd.read_csv('../Data/signals_from_all_ant_types.csv')
signals = pd.read_csv("../Data/cellular_signals.csv")
antennas = pd.read_csv("../Data/antennas.csv")

In [4]:
signals_typed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5000 non-null   int64
 1   id          5000 non-null   float64
 2   signal_A    5000 non-null   float64
 3   signal_B    5000 non-null   float64
 4   signal_C    5000 non-null   float64
 5   signal_D    5000 non-null   float64
 6   Latitude    5000 non-null   float64
 7   Longitude   5000 non-null   float64
dtypes: float64(7), int64(1)
memory usage: 312.6 KB

In [5]:
signals_typed.head()

,Unnamed: 0,id,signal_A,signal_B,signal_C,signal_D,Latitude,Longitude
0,0,0.0,49.109521,55.069157,79.509987,88.608880,30.008101,70.013081
1,1,1.0,52.283605,50.920503,53.831158,68.534333,30.021438,70.006084
2,2,2.0,37.508603,55.302905,76.784777,71.815223,30.026115,70.001703
3,3,3.0,77.077300,47.777443,54.933087,58.560224,30.019904,70.019280
4,4,4.0,40.002055,46.521994,75.083956,64.513483,30.020316,70.016941

In [10]:
signals_typed.drop(['Unnamed: 0', 'id'], axis=1).to_numpy().max(axis=1)

array([88.60888025, 70.00608436, 76.78477722, ..., 85.96534818,
       77.71221256, 78.12037102])

In [12]:
color_type = {'A':1, 'B':2, 'C':3, 'D':4}
ax = signals_data.plot(kind="hexbin", x='Latitude', y='Longitude', C='signal', 
                       gridsize=30, colormap='RdYlGn', colorbar=True, alpha=0.8)
antennas_data.plot(kind='scatter', x='Latitude', y='Longitude', s=10, edgecolors='Black', 
                   linewidth=0.5, c=antennas_data['type'].map(color_type), colormap='Blues', ax=ax)

    Latitude  Longitude   id     signal
0  30.008101  70.013081  0.0  92.914916
1  30.021438  70.006084  1.0  74.490463
2  30.026115  70.001703  2.0  82.225067
3  30.019904  70.019280  3.0  86.279247
4  30.020316  70.016941  4.0  78.450492